.pagesWall{
    background-color: #F0F2F5;
    height: 1000px;
    width: 62%;
    margin-top: 50px;
    position: relative;
    margin-left: 19%;
}
.noPadding{
    padding: unset;
}
.coverPageArea{
    height: 40%;
}
.avatarPageArea{
    display: flex;
    margin-top: -30px;
    padding-left: 16px;
    align-items: flex-end;
}
.coverPages{
    border-radius: 0px 0px max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 0px 0px 8px 8px;
    width: 100%;
    height: 100%;
}
.avatarPages{
    --avtarSize: 132px;
    border: 4px solid white;
    margin-right: 16px;
    border-radius: 100%;
    max-width: 908px;
    float: left;
    width: var(--avtarSize);
    height: var(--avtarSize);
}
.pageName
{
    display: block;
    font-size: 1.75rem;
}
.infoPage{
    float: left;
    
    display: flex;
}
.paragraphInfo
{
    font-size: 1vw;
    float: left;
    font-weight: 700;
    color: dodgerblue;
    width: calc(100% - 40px);
}
.iconInfo{
    float: left;
    font-size: 1vw;
    padding: 5px;
}