.ImageProfile {
  margin-top: 10px;
  border-radius: 100%;
}
.nameFriendAdd:hover {
  text-decoration: underline;
}
.nameFriendAdd,
.nameFriendAdd:hover {
  margin-left: 10px;
  float: left;
  font-size: 12px;
  color: #385898 !important;
  font-weight: 600;
}
.btnfriendAdd,
.btnfriendAdd:hover {
  background-color: #4267b2;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}
.ulDropdownFriend {
  max-height: 471px;
  overflow-y: scroll;
  width: 430px;
  right: -100px;
}
.btnHuyAdd {
  background-color: #f5f6f7;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}
.liUserSearch:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.liUserSearch {
  min-height: 52px;
}
.aUserSearch:hover {
  text-decoration: unset;
}
.HeaderNFbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.fbICon,
.TrangChuHome {
  width: unset;
  padding: unset;
}
.TrangChuHome {
  position: relative;
  left: 30%;
}

.facebook {
  margin: 1px;
}

.txtTimKiem {
  float: left;
  min-width: 100%;
  margin-right: 5px;
  padding-right: 40px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.btnSearch,
.btnSearch:hover,
.btnSearch:active,
.btnSearch:focus {
  width: 40px;
  position: absolute;
  right: 5px;
  top: 1px;
  border: unset;
  color: black;
  background-color: transparent;
}
.friendHeader:hover,
.friendHeader.active {
  background-color: transparent;
}
.friendHeader {
  position: relative;
  display: inline-block;
  min-width: 25px;
  padding: 10px 8px 15px 8px;
  background-color: transparent;
  border: 0px;
  z-index: 1;
}
.blockStoreUser {
  position: absolute;
  background-color: #fff;
  min-width: 97.5%;
  z-index: 100000;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.15);
  margin-top: 35px;
  max-height: 260px;
  overflow-y: auto;
}
.boderrightSolid {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}
.boderrightSolid:hover {
  background: rgba(0, 0, 0, 0.1);
  color: inherit;
}
.mainmenubtn {
  background-color: unset;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.widthUserName {
  display: inline-block;
}
.liAllRequest:hover {
  text-decoration: underline !important;
}

.liAllRequest {
  line-height: 33px !important;
  text-align: center !important;
  width: 100%;
}
.AllFriendRequest,
.AllFriendRequest:hover {
  color: #365899 !important;
  font-weight: 700 !important;
}
.AllFriendRequest:hover {
  background-color: transparent !important;
}
.message-notification {
  margin-left: 10px;
  margin-bottom: unset;
  width: 100%;
  float: left;
  font-size: 13px;
}
.avatarChatNorti {
  display: flex;
  flex: 2;
  float: left;
  padding-top: 5px !important;
}
.contentChatNorti {
  display: flex;
  flex: 10;
  flex-direction: column;
}
