.ImageProfile {
  margin-top: 10px;
  border-radius: 100%;
}
.render2image {
  flex: 1;
  width: calc(50% - 5px);
  height: 100%;
  display: flex;
  padding: 0 2px 0;
  cursor: pointer;
  height: 300px;
}
.btnDirection {
  position: absolute;
  top: calc(50% - 12px);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e4e6eb !important;
  color: black !important;
  outline: unset !important;
  border-width: 0;
  z-index: 999;
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
  border-radius: 0 !important;
}
.showImgAndVideo {
  padding: 10px;
  flex: 7;
  display: flex;
  position: relative;
  align-items: center;
  background-color: rgba(28, 28, 28, 0.85);
}
.LCS-modal {
  padding: 1px 2px 3px 4px;
  flex: 3;
  display: flex;
  background-color: white;
  flex-direction: column;
  overflow: auto;
}
.btnLeft {
  left: 15px;
}
.btnRight {
  right: 15px;
}
.btn-close-modal {
  position: absolute;
  top: 2px;
  right: 2px;
  outline: unset;
  z-index: 999;
}
.iconPlay {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yl/r/OpOl5UP9PY2.png);
  background-position: 0px 0px;
  background-size: auto;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 36px);
  z-index: 999;
  cursor: pointer;
}

.InfoComment {
  background-color: #f2f3f5;
  border-radius: 18px;
  box-sizing: border-box;
  color: #1c1e21;
  display: inline-block;
  line-height: 16px;
  margin: 0;
  max-width: 100%;
  word-wrap: break-word;
  position: relative;
  white-space: normal;
  padding: 8px 10px;
  display: flex;
  flex: 10;
  margin-left: 5px;
  background-color: #d4d7de;
}
.txtCmt {
  border-radius: 16px;
  font-size: 14px;
  margin-top: inherit;
  height: fit-content;
  resize: unset;
}
.InfoCaption {
  padding: unset;
}
.ImgHeadingSTT {
  cursor: pointer;
  width: unset;
  margin-right: 3px;
  padding: unset;
  padding-top: 4px;
}
.NameAndStatus {
  padding-left: 1px;
  margin-top: 4px;
}
.h5-btnLike,
.h5-btnCmt,
.h5-btnShare,
.lblTgianDang {
  color: #000;
  font-size: 1vw;
}
.lblTgianDang {
  padding: 0 5px 0 0;
  font-size: 10px !important;
}
.lblTgianDang:hover {
  text-decoration: underline;
}
.h5-btnLike {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h5-btnLiked {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
.btnLike,
.btnCmt,
.btnShare {
  width: 33.33%;
  padding-top: 10px;
  border-style: solid;
  border-color: white;
  padding-bottom: 10px;
}
.StatusofCaptionContent {
  display: none;
  margin-left: 19px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.StatusofCaptionContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.StatusofCaptionContent a:hover {
  background-color: #f1f1f1;
}

.StatusofCaption:hover .StatusofCaptionContent {
  display: block;
}
.StatusofCaption:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.555);
}
.StatusofCaption {
  position: relative;
  display: inline-block;
  color: black;
}
.sttBtnCap,
.trangThaiContent,
.sttBtnCapImg {
  background-color: transparent;
  color: #4b4f56;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.sttBtnCapImg {
  display: inline-flex;
  width: min-content;
  padding: unset;
  text-align: left;
}

.btnPublic,
.btnFriend,
.btnPrivate {
  width: 100%;
  border: unset;
  background-color: transparent;
  text-align: left;
  padding-left: 8%;
  padding-bottom: 8%;
  padding-top: 8%;
}

.btnPublic:hover,
.btnFriend:hover,
.btnPrivate:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#userLikes:hover {
  text-decoration: none;
}
.btnLike:hover,
.btnCmt:hover,
.btnShare:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.LikeActive {
  text-decoration: blue;
}
.imgOfInfo {
  width: fit-content;
  height: fit-content;
  margin-right: 3px;
  padding-top: 4px;
  padding-left: unset;
  padding-right: 5px;
}
.txtcmttus {
  margin-top: 5px;
  flex: 10;
  display: flex;
}
