.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  display: inline-table;
  max-width: 80%;
  word-break: break-all;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  margin: unset;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
  margin-top: 10px;
}

.sentText {
  display: flex;
  align-items: flex-end;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
  margin: unset;
}

.pl-10 {
  padding-left: 8px;
}

.pr-10 {
  padding-right: 8px;
}

.justifyStart {
  justify-content: flex-start;
  align-items: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.sendIcon {
  background-color: rgb(110, 223, 0);
}

.backgroundLight {
  background: #f3f3f3;
}
