.outerContainerChat {
  display: flex;
  background-color: rgba(0, 0, 0, 0.959);
  padding: 0 15px;
  flex-direction: column;
  flex: 1;
  margin-top: 50px;
  height: calc(100vh - 50px);
}
.btnChatLeft {
  background-color: white;
  outline: 0px !important;
  border-radius: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
}
.footerCall {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-end;
  margin: 10px 0 20px 0;
}

.bodyCall {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hideCanavas {
  display: none;
}

.askPermission {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 9999;
}

.deniedPermission {
  opacity: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconDenied {
  color: white;
  font-size: 200px;
}

.btnSeeSelf {
  align-self: center;
  position: absolute;
  width: fit-content !important;
  padding: 5px !important;
  background-color: transparent !important;
  border-width: 0;
  margin: 0 -15px;
}

.blockVideoSelf {
  display: flex;
  justify-content: flex-end;
}

.myVideoCam {
  display: flex;
  align-self: flex-end;
  height: 200px;
  /* width: 80% !important; */
}

.myId {
  margin-right: 5rem;
  border-radius: 5px;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
}

.caller {
  text-align: center;
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: center;
}

#video-grid-1 {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#video-grid-2 {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red
}

video {
  width: 50vw;
  height: 50vh;
}
