.infoBar {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.btnCall {
  position: absolute;
  right: 10%;
  border-radius: 100%;
  outline-width: 0px !important;
}
.spanInfoBar {
  font-size: 15px;
  font-weight: bold;
  color: black;
  align-items: center;
  display: flex;
}
.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 2%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}
