.messages {
  padding: 25px 0;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: text;
  flex: auto;
}

#btnScrollDown {
  width: fit-content;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 30px);
  z-index: 99;
  border: none;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0.25px 0px 10px 5px rgba(0, 0, 0, 0.3);
  color: rgb(110, 223, 0);
  outline: unset;
  padding: 5px 11.25px !important;
}
/* #mess-group::-webkit-scrollbar {
width: 0px;
}  */
