@media only screen and (max-width: 1200px)
{
   .sidebar-menu{
     left: 0 !important;
  }
}
@media only screen and (max-width: 920px)
{
   .sidebar-menu{
     display: none !important;
     z-index: -1;
  }
}
.sidebar-menu {     
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    width: 250px;
    margin: unset;
    float: left;
    position: fixed;
 }
 
 .sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    color: #333132;
    transition: all 0.15s ease-in;
 }
 
 .sidebar-item:hover {
    color: white;
    background-color: #7a6ed2;
    text-decoration: unset;
 }
 
 .sidebar-icon {
    font-size: 16px;
    float: left;
    margin: unset;
 }
 
 .sidebar-text {
    font-weight: 500;
    font-size: 15px;
    margin: unset;
    margin-left: 10px;
 }
 
.DashBarNAV {
   padding: unset;
   position: absolute;
   float: right;
   width: 12%;
   background-color: whitesmoke;
 }
 
.createSTT {
   width: 100%;
 }